<tbody>
  <div class="main">
    {{#each crimes}}
    <div class="column">
      <div class="card">
        <h3>{{this.primary_type}}</h3>
        <p>{{this.block}}</p>
        <p>{{this.date}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</tbody>